<nav class="navbar navbar-expand-lg " id="navbar">
    <div class="container-fluid ">
      <a class="navbar-brand ms-4" href="#" >
        <img src="/../../assets/APLogo.png" alt="" class="img-fluid">
      </a>
      <div>
        <a class="btn mx-2" id="social" href="https://github.com/maxi-mz"><i class="bi bi-github"></i></a>
        <a class="btn mx-2" id="social" href="https://www.linkedin.com/in/maximiliano-muñoz/"><i class="bi bi-linkedin"></i></a>
        <a class="btn mx-2" id="social" href="https://www.instagram.com/maxi_mz/?hl=es"><i class="bi bi-instagram"></i></a>
        <a class="btn mx-2" id="social" href = "https://twitter.com/maxi_mz0"><i class="bi bi-twitter"></i></a>
        <a class="btn " id="login"  (click) ="login()"  *ngIf="!isLogged" >Login</a>
        <a class="btn " id="login"  (click) ="logOut()" *ngIf="isLogged" >Logout</a>  
      </div>
    </div> 
  </nav>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 50 1440 240">
      <path fill="#AB8B67" fill-opacity="1" d="M0,96L60,101.3C120,107,240,117,360,112C480,107,600,85,720,85.3C840,85,960,107,1080,106.7C1200,107,1320,85,1380,74.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
  </div>
