<div class="text-center" id="titulo">
    Experiencias Laborales
</div>
<div class="container my-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-9"
            data-aos="zoom-in"
            data-aos-offset="100"
            data-aos-once="true"
            data-aos-duration="1750" >
            <ul *ngFor="let experiencia of experiencias; let i = index" class="list-group">
                <li class="list-group-item mb-4">
                    <h1>{{experiencia.titulo}}</h1>
                    <h6>{{experiencia.fechaInicio}} - {{experiencia.fechaFin}}</h6>
                    <p> {{experiencia.descripcion}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
