<div class="text-center" id="titulo">
    Experiencias Laborales
</div>
<div class="container my-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-9"
            data-aos="zoom-in"
            data-aos-offset="100"
            data-aos-once="true"
            data-aos-duration="1750" >
            <ul class="list-group">
                <li class="list-group-item mb-4">
                    <h1>titulo</h1>
                    <h6>(Fecha)</h6>
                    <p> Descripción</p>
                </li>
                <li class="list-group-item mb-4">
                    <h1>titulo</h1>
                    <h6>(Fecha)</h6>
                    <p> Descripción</p></li>
                <li class="list-group-item mb-4">
                    <h1>titulo</h1>
                    <h6>(Fecha)</h6>
                    <p> Descripción</p>
                </li>
            </ul>
        </div>
    </div>
</div>
