<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto"
            data-aos="fade-right"
            data-aos-offset="200"
            data-aos-once="true"
            data-aos-duration="2000" >
                <img src="/../assets/placeholder.jpg" class="img-fluid foto mb-5 shadow">
                <p class="ms-5">Maximiliano Muñoz</p>
        </div>
        <div class="col-sm-6">
            <h1>Acerca de mí: </h1>
            <p>Soy un desarrollador full stack jr de Buenos Aires.<br> 
                Actualmente estoy cursando la licenciatura en ciencias de la computación en la uba y realizando un trainee en buffa sistemas.<br>
                Soy alguien paciente, comprometido y perseverante, me siento cómodo trabajando en equipo tanto en seguimiento de directivas como con iniciativas. Poseo habilidad para adaptarme a los cambios y aprender cosas nuevas. </p>
        </div>
    </div>
</div>
<div class="espacio">a</div>