<div class="container texto">
    <div class="row ">
        <div *ngIf="about"  
            class="col-sm-6  mb-4  text-center resumen"
            data-aos="fade-right"
            data-aos-offset="200"
            data-aos-once="true"
            data-aos-duration="2000" >
                <img    class="img-fluid foto mb-5 shadow"src="{{about.url}}" >
                <p      class="" >  {{about.nombre}} {{about.apellido}} </p>
                <p      class="" >{{about.titulo}} </p>
        </div>
        <div *ngIf="about" class="col-sm-6  "
            data-aos="fade-left"
            data-aos-offset="200"
            data-aos-once="true"
            data-aos-duration="2500" >
            <h1 class="">Acerca de mí: 
                <button class="btn btn-lg text-center " routerLink="/editarusuario/1" *ngIf="isLogged">
                    <i class="bi bi-pencil"></i>
                </button>
            </h1>  
            <p class="mt-5 " id="descripcion" >{{about.descripcion}}</p>     
        </div> 
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#402E32" fill-opacity="1" d="M0,128L120,154.7C240,181,480,235,720,229.3C960,224,1200,160,1320,128L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>    