#fondo{
    background-color: #402E32 ;
}

#titulo{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color:#FFA500;
}

.botones{
    color: #AB8B67;
}

.botones:hover{
    color: #FFA500;
}

