<div class="container">
    <div class="row text-center rounded-5 mx-5" id="fondo">
        <div class="col-12 mt-4">
            <div class="text-center" id="titulo">
                Skills
            </div>
            <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
                Agregar skills
            </button>
        </div>
        <div *ngFor="let skill of skills; let i = index" class="col-sm-3 my-5"> 
            <circle-progress
                [percent]="skill.porcentaje"
                [showImage]="true"
                [imageSrc]="skill.url"
                [imageHeight]="90"
                [imageWidth]="90"
            >
        </circle-progress>
        <button type="button" class="btn btn-danger" (click)="borrarSkill(skill.id)" *ngIf="isLogged">
            <a>borrar educacion</a>
        </button>
        <button type="button" class="btn btn-primary " routerLink="/editarskill/{{skill.id}}" *ngIf="isLogged">
            editar Educacion
        </button>
        
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#402E32 " fill-opacity="1" d="M0,256L120,250.7C240,245,480,235,720,213.3C960,192,1200,160,1320,144L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>