#fondo{
    height: 385px;
}

.borde{
    border: red solid 2px;
}

#texto{
    font-family: 'Roboto Mono', monospace;
    color:#E5ECE9;
}

#titulo{
    font-size: 4.5rem;
}

#nombre{
    color:#FFA500;
}

#subtitulo{
    font-size: 2rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: aparecer 2s ease 5.5s forwards;
}
.row{
    height: 100%;
}

h1{
    position: relative;
}

h1::before,
h1::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

h1::before{
    background: #402E32;
    animation: animacion_escritura 4s steps(15) 1s forwards;
}

h1::after{
    width: 0.125em;
    background-color: #EFF9F0;
    animation: animacion_escritura 4s steps(15) 1s forwards,
    barra_transparente 750ms steps(15) infinite;
}

@keyframes animacion_escritura {
    to{
        left: 100%;
    }
}

@keyframes barra_transparente {
    to{
        background-color: transparent;
    }
}

@keyframes aparecer {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}